// Your CSS code here.

.slide-in{
	opacity:0;
	transform:translateX(100px);
	transition:all 05s ease-in-out;
}
.slide-in.active{
	opacity:1;
	transform:translateX(0)
}

.align-left {
    float: left;
    margin: 0 20px 20px 0;
  }

 .align-right {
    float: right;
    margin: 0 0 20px 20px;
  }

.site-wrap {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    line-height: 1.6;
  }










